@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Shadows+Into+Light&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Roboto Mono', monospace; */
    font-family: 'Shadows Into Light', cursive;
}

li {
    list-style: none;
    width: 15rem;
}   